

#title{
    background-color: #ff4c68;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}


/* Heading */

.heading-text {
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

h3{
   
    font-size: 1.4rem;
}



p{
    color: gray;
}

.container-fluid{
    padding: 3% 15% 7%;
    
}

/* Navbar */

.navbar{
padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 3rem;
    font-style: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

/* title */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute ;
    right: 30%;
    
}

.Download-btn{
    margin: 2rem 1rem 0 1rem;
}

/* feature */

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    /* z-index: 1; */
}

.features-box{
    padding: 5%;
    text-align: center;
}

.feature-icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover{
    color: #ff4c68;
}

/* Testimonial-section */

#testimonials{
   
    background-color: #ef8172;
    text-align: center;   
    color: white;
}

.testimonial-text {
    font-size: 2rem;

}

.testimonial-image{
    width: 10%;
    border-radius: 100%; 
    
}

.carousel-item{
    padding: 7% 15%;
}

/* Press-section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 2rem;
}

.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-text {
    font-size: 2rem;
}

.pricing-col {
  padding: 3% 2%;
     
}

/* CTA section */

#cta {
    background-color: #ef8172;
    text-align: center;
    padding: 7% 15%;
}

.cta-heading {
    font-family:'Montserrat', sans-serif ;
    font-size: 2.5rem;
    line-height: 2rem;
    color: white;

}

/* Footer section */

#footer{
    padding: 7% 15%;
    text-align: center;
}

.footer-font {
    font-size: 1.1rem;
}

.social-icon {
    margin: 20px 10px;
}

@media(max-width: 1028px){
    #title {
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}










